<nav class="navBar">
    <div class="logo">
        <a href="/index.html">
            <img src="/images/logo_smart_budget.png" alt="Logo">
            <h2>SmartBudget</h2>
        </a>
    </div>

    <ul class="navLinks">
        <li><a href="/index.html">Dashboard</a></li>
        <li><a href="/budget.html">Budget</a></li>
        <li><a href="/login.html">Login</a></li>
        <li><a href="/register.html">Registration</a></li>
    </ul>

    <!---- <button id="modeToggle">🌙</button> -->
</nav>